
#cy {
  font: 24px helvetica neue, helvetica, arial, sans-serif;
  height: 100%;
  width: 100%;
  position: inherit;
  //left: 0;
 //top: 0;
  //background-color: #EDF1FA;
  //position: relative;
  //top: -20px;
  //left: 20px;
  height: 500px;
  width: 500px;

}
